.primary__btn,
.secondary__btn,
.date__input__btn,
.none__btn {
  padding: 1.25rem 0 !important;
  border-radius: 1rem;
  text-align: center;
}
.primary__btn {
  background: var(--text-primary-color);
  color: var(--bg-color);
}
.secondary__btn {
  background: var(--container-primary-color);
}
.date__input__btn {
  background: var(--container-secondary-color);
  cursor: pointer;
}
.none__btn {
  background: var(--container-secondary-color);
  transition: 0.3s ease-out;
}
.none__btn__active {
  background: var(--accent-color);
  color: var(--bg-color);
}
/* date component styles */
.active__date__input {
  background: var(--accent-color);
  color: var(--bg-color);
}
.entry__link__btn {
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  text-align: left;
  font-family: "PPPangramSansRounded-Semibold";
  font-size: 1.1rem;
  background: var(--container-secondary-color);
  text-transform: capitalize;
}
