.flex__col__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex__col__inner__medium,
.flex__col__inner__large,
.flex__col__inner__small {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.flex__col__inner__large {
  gap: var(--gap-large);
}
.flex__col__inner__medium {
  gap: var(--gap-medium);
}
.flex__col__inner__small {
  gap: var(--gap-small);
}
.grid__row__layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--gap-small);
}
.flex__row__layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: var(--gap-small);
}
.grid__row__layout input {
  min-width: 0%;
  flex: 1 1 0px;
}
