@font-face {
  font-family: "PPPangramSansRounded-Medium";
  src: url("./assets/PPPangramSansRounded-Medium.otf") format("opentype");
}
@font-face {
  font-family: "PPPangramSansRounded-Semibold";
  src: url("./assets/PPPangramSansRounded-Semibold.otf") format("opentype");
}
html {
  font-size: 20px;
}
body {
  margin: 0;
  font-family: "PPPangramSansRounded-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: var(--bg-color);
}
:root {
  /* main colors */
  --bg-color: #0d0d0d;
  --text-primary-color: #f4f4f4;
  --text-secondary-color: #999999;
  --accent-color: #d4c951;
  --completed-color: #51d466;
  --container-primary-color: #1a1c1e;
  --container-secondary-color: #131416;
  /* nav colors */
  --nav-container-bg-color: #0d0d0d99;
  --nav-item-bg-color: #2b2d31;
  /*  */
  --gap-large: 2.5rem;
  --gap-medium: 1rem;
  --gap-small: 0.5rem;
}
form {
  width: 100%;
}
input {
  all: unset;
}
button {
  all: unset;
  text-align: center;
  cursor: pointer;
  transition: scale 0.3s ease-out;
}
button:active {
  scale: 0.95;
}
a {
  all: unset;
  cursor: pointer;
}
.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--text-primary-color);
}
.content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 0 5vw;
}
.index__svg__wrapper {
  scale: 0.9;
  animation: rotate 20s infinite linear;
}
.index__subheading {
  max-width: 25ch;
  text-align: center;
}
.index__cta {
  animation: pulse 0.75s infinite ease-in-out alternate;
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -360deg;
  }
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.spacer {
  width: 100%;
}
@media (max-width: 400px) {
  .content {
    padding: 0 7vw;
  }
}
@media (min-width: 700px) {
  .content {
    max-width: 500px;
  }
}
@media (min-width: 1200px) {
  .index__subheading {
    max-width: 40ch;
  }
}
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
  .content {
    padding: 7vw;
  }
}
@media only screen and (hover: none) and (pointer: coarse) {
  .container {
    min-height: -webkit-fill-available;
  }
  .content {
    min-height: -webkit-fill-available;
  }
}
